{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Item'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('inv_stock_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add Item'|trans }}</a>
                            <a href="{{ path('inv_stock') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Items'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="portlet box green ">
                        <div class="portlet-title">
                            <div class="caption"><i class="fa fa-th-large"></i> {{ 'Manage New Item'|trans }}</div>
                        </div>
                        <div class="portlet-body form">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal main-form right','id':'itemGmbForm'}}) }}
                            <div class="row">
                                <div class="col-md-2"><h4>Item basic Information</h4></div>
                                <div class="col-md-10">
                                    <div class="col-md-12 form-box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.name, 'Item Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.name) }}
                                                        {{ form_errors(form.name) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.itemCode, 'Item Code'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.itemCode) }}
                                                        {{ form_errors(form.itemCode) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.unit, 'Unit'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-4">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.unit) }}
                                                        {{ form_errors(form.unit) }}
                                                    </div>
                                                    <div class="col-md-4">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.minQuantity, 'Minimum & Re-order Quantity'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.minQuantity) }}
                                                        {{ form_errors(form.minQuantity) }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.reorderQuantity) }}
                                                        {{ form_errors(form.reorderQuantity) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.purchasePrice, 'Purchase & Sales Price'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.purchasePrice) }}
                                                        {{ form_errors(form.purchasePrice) }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.salesPrice) }}
                                                        {{ form_errors(form.salesPrice) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_widget(form._token) }}
                            {{ form_end(form) }}
                            {% if entity is defined and entity is not empty %}
                            <div class="row">
                                <div class="col-md-12"><h4>Item Stock Book</h4></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 form-box-body" style="margin-bottom: 15px">
                                        <form name="stockBookForm" method="post" class="form-horizontal right col-md-12" id="itemForm" action="{{ path('gmb_stcok_item_add',{'id':entity.id}) }}">
                                            <div class="row" style="padding-bottom: 10px;background: #daf2da;padding-top: 10px;">
                                                <div class="col-md-3">
                                                    <select id="brand" name="brand" class="brand form-control select2">
                                                        <option value="">Choose a brand</option>
                                                        {% if brands is not empty %}
                                                            {% for brand in brands %}
                                                                <option value="{{ brand.id }}">{{ brand.name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <div class="col-md-2">
                                                    <select id="size" name="size" class="size form-control select2">
                                                        <option value="">Choose a size</option>
                                                        {% if sizes is not empty %}
                                                            {% for size in sizes %}
                                                                <option value="{{ size.id }}">{{ size.name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <div class="col-md-2">
                                                    <select id="color" name="color" class="color form-control select2" >
                                                        <option value="">Choose a color</option>
                                                        {% if colors is not empty %}
                                                            {% for color in colors %}
                                                                <option value="{{ color.id }}">{{ color.name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="btn-group btn-group-sm col-md-12">
                                                        <input type="text" class="form-control col-md-3" id="minimumQuantity" name="minimumQuantity" placeholder="Minimum qyt">&nbsp;
                                                        <input type="text" class="form-control col-md-3" name="reorderQuantity" id="reorderQuantity" placeholder="Reorder qyt"> &nbsp;
                                                        <input type="text" id="price" name="price"  autofocus="autofocus" class="col-md-3 form-control" placeholder="Price">&nbsp;&nbsp;
                                                        <button type="submit" data-action="" id="addItem" name="addItem" class="btn btn-sm  blue-bg white-font"><i class="feather icon-plus"></i> Add Item</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                                    <thead class="thead-green">
                                                    <tr>
                                                        <th scope="col">Brand</th>
                                                        <th scope="col">Size</th>
                                                        <th scope="col">Color</th>
                                                        <th scope="col">Minimum Qty</th>
                                                        <th scope="col">Reorder Qty</th>
                                                        <th scope="col">Price</th>
                                                        <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="stockBookItem">
                                                    {% if entity.stockBooks is not empty %}
                                                        {% for stock in entity.stockBooks %}
                                                            {% if stock.isDelete != 1 %}
                                                            <tr>
                                                                <td>{% if stock.brand is not empty %}{{ stock.brand.name }}{% endif %}</td>
                                                                <td>{% if stock.size is not empty %}{{ stock.size.name }}{% endif %}</td>
                                                                <td>{% if stock.color is not empty %}{{ stock.color.name }}{% endif %}</td>
                                                                <td>{{  stock.minimumQuantity }}</td>
                                                                <td>{{  stock.reorderQuantity }}</td>
                                                                <td>
                                                                <input type="hidden"  id="cmpDate-{{ stock.id }}" name="cmpdate-{{ stock.id }}" class="cmpDatePicker" style="width:80px" value="{% if stock.updated %}{{ stock.updated|date('d-m-Y') }}{% endif %}">
                                                                <input type="text" name="cmp" data-id="{{ stock.id }}" class="priceUpdate cmp" data-action="{{ path('inv_stock_book_cmp',{'id':stock.id}) }}" id="cmp-{{ stock.id }}" value="{{  stock.cmp }}"></td>
                                                                <td><a href="javascript:" class="btn btn-mini btn-danger remove" data-action="{{ path('inv_stock_book_delete',{'id':stock.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                                                            </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-actions form-outer-actions">
                                <div class="col-md-12 text-right">
                                    <div class="btn-group" role="group">
                                        <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>Reset</button>
                                        <button type="submit" id="submitBtn" name="item_form[SaveAndCreate]" class="btn btn-info form-submit btn">Save and Create</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        .form .form-outer-actions{
            margin-left: -15px!important;
            margin-right: -15px!important;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdgeneric/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('.editable').editable();
    jqueryTemporaryLoad();
{% endblock %}
