{% if entity.stockBooks is not empty %}
    {% for stock in entity.stockBooks %}
        {% if stock.isDelete != 1 %}
        <tr id="remove-{{ stock.id }}" >
            <td>{% if stock.brand is not empty %}{{ stock.brand.name }}{% endif %}</td>
            <td>{% if stock.size is not empty %}{{ stock.size.name }}{% endif %}</td>
            <td>{% if stock.color is not empty %}{{ stock.color.name }}{% endif %}</td>
            <td>{{  stock.minimumQuantity }}</td>
            <td>{{  stock.reorderQuantity }}</td>
            <td>
                <input type="hidden"  id="cmpDate-{{ stock.id }}" name="cmpdate-{{ stock.id }}" class="cmpDatePicker" style="width:80px" value="{% if stock.updated %}{{ stock.updated|date('d-m-Y') }}{% endif %}">
                <input type="text" name="cmp" data-id="{{ stock.id }}" class="priceUpdate cmp" data-action="{{ path('inv_stock_book_cmp',{'id':stock.id}) }}" id="cmp-{{ stock.id }}" value="{{  stock.cmp }}"></td>
            <td><a href="javascript:" class="btn btn-mini btn-danger remove" data-action="{{ path('inv_stock_book_delete',{'id':stock.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
        </tr>
        {% endif %}
    {% endfor %}
{% endif %}