
<div class="portlet box blue ">
    <div class="portlet-body form">
        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-8 form-box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_label(form.name, 'Name', {'label_attr': {'class': 'col-md-2'}}) }}
                                    <div class="col-md-10">
                                        {{ form_widget(form.name) }}
                                        {{ form_errors(form.name) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.duty, 'Duty'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                    <div class="col-md-8">
                                        {{ form_widget(form.duty) }}
                                        {{ form_errors(form.duty) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.salary, 'Salary', {'label_attr': {'class': 'col-md-4'}}) }}
                                    <div class="col-md-8">
                                        {{ form_widget(form.salary) }}
                                        {{ form_errors(form.salary) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.saving, 'Saving'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                    <div class="col-md-8">
                                        {{ form_widget(form.saving) }}
                                        {{ form_errors(form.saving) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.insurance, 'Insurance', {'label_attr': {'class': 'col-md-4'}}) }}
                                    <div class="col-md-8">
                                        {{ form_widget(form.insurance) }}
                                        {{ form_errors(form.insurance) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_label(form.remark, 'Remark', {'label_attr': {'class': 'col-md-2'}}) }}
                                    <div class="col-md-10">
                                        {{ form_widget(form.remark) }}
                                        {{ form_errors(form.remark) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <p><strong>Employee Additions</strong></p>
                        <div class="d-flex flex-column">
                            {% for addition in additions %}
                            <div class="p-2"><span class="col-md-6">{{ addition.name }}</span><span class="col-md-6"><input type="text" id="addition-{{ addition.id }}" name="addition[]" autofocus="autofocus" class="form-control form-control-sm"></span></div>
                            {% endfor %}
                        </div>
                        <p><strong>Employee Deductions</strong></p>
                        <div class="d-flex flex-column">
                            {% for deduction in deductions %}
                                <div class="p-2"><span class="col-md-6">{{ deduction.name }}</span><span class="col-md-6"><input type="text" id="deduction-{{ deduction.id }}" name="deduction[]" autofocus="autofocus" class="form-control form-control-sm"></span></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="hr-horizontal">&nbsp;</div>
                <div class="form-actions">
                    <div class="col-md-12 text-right">
                        <div class="btn-group" role="group">
                            <button  type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'Reset'|trans }}</button>
                            {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        {{ form_widget(form._token) }}
        {{ form_end(form) }}
    </div>
</div>
<style>
    .select2-container--open{ z-index:9999999 }
    .span.select2-container { z-index:10050; }
    .select2-container--open{ z-index:9999999 }
    .select-in-modal+.select2-container {
        width: 100% !important;
        padding: 0;
        z-index:10000;
    }

    .select2-container--open {
        z-index:10000;
    }
    span.select2-container.select2-container--default.select2-container--open {
        z-index: 100003;
    }

    span.select2-selection.select2-selection--single {
        outline: none;
    }
</style>
