{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Company Invoice'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('sbs_invoice_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add Invoice'|trans }}</a>
                            <a href="{{ path('sbs_invoice') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Invoice'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Company Name</th>
                                    <th scope="col">Branch Name</th>
                                    <th scope="col">Month</th>
                                    <th scope="col">SubTotal</th>
                                    <th scope="col">Vat</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Process</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.created|date('d-m-Y') }}</td>
                                    <td>{{ entity.customer.name }}</td>
                                    <td>{{ entity.branch.name }}</td>
                                    <td>{{ entity.month }}</td>
                                    <td>{{ entity.subTotal|number_format(2) }}</td>
                                    <td>{{ entity.vat|number_format(2) }}</td>
                                    <td>{{ entity.total|number_format(2) }}</td>
                                    <td>{{ entity.process|capitalize }}</td>
                                    <td>
                                        <a class="btn btn-mini yellow-bg white-font" href="{{ path('sbs_invoice_edit',{'id':entity.id}) }}" id="1"><i class="feather icon-edit"></i> Edit</a>
                                        <a class="btn  btn-transparent btn-mini red-font remove" data-id="{{ entity.id }}" href="javascript:" data-action="{{ path('sbs_invoice_delete',{'id':entity.id}) }}" id="{{ entity.id }}"><i class="feather icon-trash-2"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{#    <script type="application/javascript" src="{{ asset('bundles/terminalbdsecuritybilling/js/paging/invoice.js') }}"></script>#}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
