{% extends 'layout.html.twig' %}
{% block body_id 'core_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Company Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('sbs_customer_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add Company'|trans }}</a>
                            <a href="{{ path('sbs_customer') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Company'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                  <div class="card-block">
                      <div class="portlet box green ">
                          <div class="portlet-title">
                              <div class="caption"><i class="fa fa-th-large"></i> {{ 'Manage New Employee'|trans }}</div>
                          </div>
                          <div class="portlet-body form">
                              {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                              <div class="row form-body">
                                  <div class="form-inner-no-space">
                                      <div class="row">
                                          <div class="col-md-3"><h4>Account Information</h4></div>
                                          <div class="col-md-9 form-box-body">
                                              <div class="row">
                                                  <div class="col-md-12">
                                                      <div class="form-group">
                                                          {{ form_label(form.name, 'Comapny Name', {'label_attr': {'class': 'col-md-3'}}) }}
                                                          <div class="col-md-9">
                                                              {{ form_widget(form.name) }}
                                                              {{ form_errors(form.name) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.mobile, 'Mobile'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                          <div class="col-md-6">
                                                              {{ form_widget(form.mobile) }}
                                                              {{ form_errors(form.mobile) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.additionalPhone, 'Additional Phone'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                          <div class="col-md-6">

                                                              {{ form_widget(form.additionalPhone) }}
                                                              {{ form_errors(form.additionalPhone) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.contactName, 'Conatct Name'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                          <div class="col-md-6">
                                                              <span class="not-blank"> {{ 'Optional'|trans }}</span>
                                                              {{ form_widget(form.contactName) }}
                                                              {{ form_errors(form.contactName) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.contactPhone, 'Conatct No'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                          <div class="col-md-6">
                                                              <span class="not-blank"> {{ 'Optional'|trans }}</span>
                                                              {{ form_widget(form.contactPhone) }}
                                                              {{ form_errors(form.contactPhone) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.email, 'Email Address'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                          <div class="col-md-6">
                                                              {{ form_widget(form.email) }}
                                                              {{ form_errors(form.email) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.postalCode, 'Postal Code'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                          <div class="col-md-6">
                                                              <span class="not-blank"> {{ 'Optional'|trans }}</span>
                                                              {{ form_widget(form.postalCode) }}
                                                              {{ form_errors(form.postalCode) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-12">
                                                      <div class="form-group">
                                                          {{ form_label(form.address, 'Address', {'label_attr': {'class': 'col-md-3'}}) }}
                                                          <div class="col-md-9">

                                                              {{ form_widget(form.address, {'attr': {'class': ''}}) }}
                                                          </div>
                                                      </div>


                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-12">
                                                      <div class="form-group">
                                                          {{ form_label(form.billingAddress, 'Billing Address', {'label_attr': {'class': 'col-md-3'}}) }}
                                                          <div class="col-md-9">
                                                              <span class="not-blank"> {{ 'Optional'|trans }}</span>
                                                              {{ form_widget(form.billingAddress, {'attr': {'class': ''}}) }}
                                                          </div>
                                                      </div>


                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-12">
                                                      <div class="form-group">
                                                          <div class="col-md-3"></div>
                                                          <div class="col-md-9">
                                                              {{ form_widget(form.status, {'attr': {'class': ''}}) }}
                                                          </div>
                                                      </div>


                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="hr-horizontal">&nbsp;</div>
                                      <div class="form-actions">
                                          <div class="col-md-6 ">

                                          </div>
                                          <div class="col-md-6 text-right">
                                              <div class="btn-group" role="group">
                                                  <button  type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'Reset'|trans }}</button>
                                                  {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                              </div>
                                          </div>
                                          <div class="clearfix"></div>
                                      </div>
                                  </div>
                              </div>
                              {{ form_widget(form._token) }}
                              {{ form_end(form) }}
                          </div>
                      </div>
                  </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
