{% extends 'layout.html.twig' %}
{% block body_id 'sbs_company_setup' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Setting Master Data'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('sbs_customer_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add Client'|trans }}</a>
                            <a href="{{ path('sbs_customer') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'CLient'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption">{{ 'Manage Setting Master Data'|trans }} </div>
                    </div>

                    <div class="portlet-body form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-3 form-box-header"><h4>Setting Master Data Information</h4><span>All master setting data setup here</span></div>
                                    <div class="col-md-9 form-box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.invoiceSubject, 'invoice Subject'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.invoiceSubject) }}
                                                        {{ form_errors(form.invoiceSubject) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.invoiceHeader, 'Invoice Header'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.invoiceHeader) }}
                                                        {{ form_errors(form.invoiceHeader) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.invoiceFooter, 'Invoice Footer'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.invoiceFooter) }}
                                                        {{ form_errors(form.invoiceFooter) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.signature, 'Invoice Signature'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.signature) }}
                                                        {{ form_errors(form.signature) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.vatParcent, 'VAT Parcent'|trans, {'label_attr': {'class': 'col-md-8'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.vatParcent) }}
                                                        {{ form_errors(form.vatParcent) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.signature, 'VAT Process'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.vatProcess) }}
                                                        {{ form_errors(form.vatProcess) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.file, 'Signature Upload'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.file) }}
                                                        {{ form_errors(form.file) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-4"></label>
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.customInvoice) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-md-12">
                                                <div class="card-header grey-bg inner-header">
                                                    <h5>Invoice Column</h5>
                                                </div>
                                            </div>
                                            <div><br/></div>
                                        </div>

                                        <div>
                                            <div class="col-md-12">
                                                {% if invoiceItems is not empty %}
                                                    {% for keyValue in invoiceItems %}
                                                        <div class="col-md-12" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <input type="hidden" name="metaId[]" id="metaId" value="{{ keyValue.id }}">
                                                                    <input type="text" name="labelName[]" id="labelName-{{ keyValue.id }}" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.labelName }}">
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <div class="input-group">
                                                                        {{ keyValue.particular.name }}
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <div class="input-group">
                                                                        <input type="text" name="ordering[]" id="ordering-{{ keyValue.id }}" class="form-control form-control-sm" placeholder="ordering" value="{{ keyValue.ordering }}">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="input-group">
                                                                        <input class='status' data-action='{{ path('sbs_customer_invoice_item_status',{'id':keyValue.id}) }}' name="status[]" id="status-{{ keyValue.id }}" type='checkbox' {% if keyValue.status == 1 %} checked="checked" {% endif %}  data-toggle='toggle' data-size='xs' data-style='slow' data-offstyle='danger' data-onstyle='info' data-on='Enabled'  data-off='Disabled'>
                                                                        <input class='status' data-action='{{ path('sbs_customer_invoice_item_process',{'id':keyValue.id}) }}' name="process[]" id="process-{{ keyValue.id }}" type='checkbox' {% if keyValue.process == 1 %} checked="checked" {% endif %}  data-toggle='toggle' data-size='xs' data-style='slow' data-offstyle='warning' data-onstyle='success' data-on='Plain'  data-off='Input'>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="clearfix"></div>
                                <div class="form-actions">
                                    <div class="col-md-12 text-right">
                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        .input-group .toggle.btn-xs{
            margin-top: 5px;
        }
    </style>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}