{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Category Components'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('gmb_bank_category_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add Category'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Parent</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Status</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdgeneric/js/paging/category-bank.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
