
<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                      <table class="table-border-less">
                          <tr><th class="text-left" colspan="2" scope="col" >Information</th></tr>
                          <tr><th class="text-right" scope="col" >Company Name</th><td class="text-left" >
                                  {{ entity.name }}</td></tr>
                          <tr><th class="text-right" scope="col" >Mobile</th><td class="text-left" >
                                  {{ entity.mobile }}</td></tr>
                          <tr><th class="text-right"  scope="col" >Email Address</th><td class="text-left" >
                                  {{ entity.email }}</td></tr>
                          <tr><th class="text-right"  scope="col" >Address </th><td class="text-left" >
                                  {{ entity.address|raw }}</td></tr>
                          <tr><th class="text-right"  scope="col" >BIlling Address </th><td class="text-left" >
                                  {{ entity.billingAddress|raw }}</td></tr>
                          <tr><th class="text-right"  scope="col" >Contact Name</th><td class="text-left" >
                                  {{ entity.contactName }}</td></tr>
                          <tr><th class="text-right"  scope="col" >Contact No</th><td class="text-left" >
                                  {{ entity.contactPhone }}</td></tr>
                          {#{% if entity.itemKeyValues is not empty %}
                              <tr><th class="text-left" colspan="2" scope="col" >Additional Information</th></tr>
                              {% for item in entity.itemKeyValues  %}
                              <tr><th class="text-right" scope="col" >{{ item.metaKey }}</th><td class="text-left" >{{ item.metaValue }}</td></tr>
                              {% endfor %}
                          {% endif %}#}

                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
