{% if entity.stockBooks is not empty %}
    {% for stock in entity.stockBooks %}
        <tr id="remove-{{ stock.id }}" >
            <td>{% if stock.brand is not empty %}{{ stock.brand.name }}{% endif %}</td>
            <td>{% if stock.size is not empty %}{{ stock.size.name }}{% endif %}</td>
            <td>{% if stock.color is not empty %}{{ stock.color.name }}{% endif %}</td>
            <td>{{  stock.minimumQuantity }}</td>
            <td>{{  stock.reorderQuantity }}</td>
            <td>{{  stock.price }}</td>
            <td><a href="javascript:" class="btn btn-mini btn-danger itemApprovalRemove" data-action="{{ path('gmb_stcok_item_delete',{'entity':entity.id,'id':stock.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
        </tr>
    {% endfor %}
{% endif %}