{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Size Components'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-8">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Status</th>
                                    <th scope="col" class="text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if entities is not empty %}
                                    {% for entity in  entities %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ entity.name }}</td>
                                        <td>
                                            <input type="checkbox" id="size-{{ entity.id }}" name="size-{{ entity.id }}" class="status" data-toggle="toggle" data-style="slow" data-offstyle="warning" data-onstyle="info" data-on="Enabled" data-off="Disabled" data-action="{{ path('gmb_unit_status',{'id':entity.id}) }}" value="{{ entity.status }}" data-size="xs" {% if entity.status == 1%} checked="checked" {% endif %}>
                                        </td>
                                        <td>
                                            <a class="btn btn-mini yellow-bg white-font" href="{{ path('gmb_unit_edit',{'id':entity.id}) }}" id="1"><i class="feather icon-edit"></i> Edit</a>
                                            <a class="btn  btn-transparent btn-mini red-font remove" data-id="{{ entity.id }}" href="javascript:" data-action="{{ path('gmb_unit_delete',{'id':entity.id}) }}" id="{{ entity.id }}"><i class="feather icon-trash-2"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'ADD NEW Particular'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>All master particular data setup here</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.name, 'Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.name) }}
                                                                {{ form_errors(form.name) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4"></label>
                                                            <div class="col-md-6">
                                                                {{ form_widget(form.status) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-sm-actions">
                                            <div class="col-md-12 text-center">
                                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                    {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_widget(form._token) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
